.jlog-terminal {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.jlog-terminal-tab-bar{
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #303030;
    padding: 0 10px;
}

.jlog-terminal-content {
    background-color: #383838;
    height: 100%;
    display: flex;
}

