.jlog-terminal-default-tab {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.jlog-terminal-default-tab-center {
    -unity-text-align: middle-center;
}

.jlog-terminal-default-tab-title {
    font-size: 30px;
}

.jlog-terminal-default-tab-text {
    font-size: 18px;
}